body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#map {
  height: 400px;
  margin-top: 20px;
  border-radius: 8px;
}

.heart {
  cursor: pointer;
  font-size: 20px;
  margin-left: 8px;
}

.stars {
  display: flex;
  gap: 6px;
  font-size: 22px;
}

.star {
  color: gold;
  cursor: pointer;
}
