body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Arial;
}

#map {
  height: 100vh;
  width: 100vw;
}

#bottomSheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
  max-height: 50vh;
  overflow-y: auto;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.card {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 8px;
}

.star {
  font-size: 22px;
  cursor: pointer;
  color: #ccc;
}

.star.active {
  color: gold;
}
