html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system;
  background: black;
  color: white;
}

#map {
  position: fixed;
  width: 100%;
  height: 100%;
}

#bottomSheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  border-radius: 20px 20px 0 0;
  padding: 12px;
  max-height: 55%;
  overflow-y: auto;
  box-shadow: 0 -10px 40px rgba(0,0,0,0.6);
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  background: #0a84ff;
  color: white;
  font-weight: bold;
}

.card {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.star {
  font-size: 20px;
  color: gray;
}

.star.active {
  color: gold;
}
